nav {
  background-color: #2e8b57;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1px 0px;
}
Ul {
  margin-left: 65%;
  display: flex;
  flex-direction: row;
}
li {
  margin-left: 25px;

  /* text-decoration: dashed; */
}
.item {
  font-family: sans-serif;
  color: aliceblue;
  text-decoration: none;
  background-color: darkolivegreen;
  padding: 10px;
}
